.spot {
  --w: 10vmax;
  --h: 10vmax;
  --border-radius: 100%;
  --skew-x: 0deg;
  --skew-y: 0deg;
  --rotate: 0deg;
  --color-1: #fff;
  --color-2: #fff;
  --stop-pos: 0%;
  --g-x: 50%;
  --g-y: 50%;
  --blur: 1vmax;
  --scale: 1;

  width: var(--w);
  height: var(--h);
  border-radius: var(--border-radius);
  transform:
    scale(var(--scale))
    skew(var(--skew-x), var(--skew-y))
    rotate(var(--rotate));
  background-image:
    radial-gradient(
      circle at var(--g-x) var(--g-y),
      var(--color-1) var(--stop-pos),
      var(--color-2),
      rgba(0, 0, 0, 0)
    );
  filter: blur(var(--blur));

  transition: 0.2s ease-in-out, border 0s;
  cursor: pointer;
  user-select: none;
}

@media (hover: hover) {
  .spot:hover {
    --scale: 1.05;
  }
}

.spot:active {
  --scale: 0.95;
}
